<h1>Imports</h1>

<div style="margin-bottom: 1rem">
  <%= link_to 'New import', new_import_path %>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.id %></td>
        <td><%= import.status %></td>
        <td><%= import.created_at.strftime('%F %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @imports %>
